.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.field {
    width: 80%;
    margin: 0!important;
}

.input-btn {
    width: 16%;
}

.items {
    padding: 0;
}

.list-content {
    display: flex!important;
    align-items: center;
    font-size: 20px!important;
}

.auth {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-header, .auth-description, .auth-content {
    text-align: center;
    margin: 5px;
}

.auth-content {
    margin-top: 20px;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    align-items: center;
    margin-bottom: 26px;
}

.modalInput {
    display: flex;
    justify-content: space-evenly;
}

.error {
    display: flex!important;
    justify-content: center;
    flex-direction: column;
}

.dateError {
    margin: 20px 21px;
    text-align: center;
    color: red;
}

.label {
    text-align: center
}


